body {
    margin: 0;
}

#pixiview {
    left: 123px;
    top: 73px;
    position: absolute;
}

#creditSegment {
    position: absolute;
    left: 584px;
    top: 361px;
    width: 131px;
    height: 74px;
}

#paySegment {
    position: absolute;
    left: 130px;
    top: 361px;
    width: 131px;
    height: 74px;
}

#effectSegment {
    position: absolute;
    left: 796px;
    top: 367px;
    height: 74px;
    width: 188px;
}

#rightneko {
    position: absolute;
    left: 821px;
    top: 16px;
    width: 114px;
    height: 97px;
}

#leftneko {
    position: absolute;
    left: 11px;
    top: 12px;
    width: 114px;
    height: 97px;
    transform: scale(-1, 1);
}

.GameData {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: green;
    left: 0px;
    width: 100%;
    font-size: 32pt;
    z-index: 8;
}

table {
    border: double;
}

td,
tr,
th {
    border: solid 1px;
}

#disk {
    position: absolute;
    left: 789px;
    top: -16px;
}

#geki {
    position: absolute;
    left: 359px;
    top: 327px;
    width:130px;
}

.lamp {
    filter: brightness(20%);
    transition: filter 0.2s;
}

.lamp.show {
    filter: brightness(100%);
}

#itigeki {
    position: absolute;
    top: 100px;
    width: 122px;
}

#renda {
    position: absolute;
    top: 200px;
    width: 122px;
}

.colorBar {
    width:17px;
    height:51px;
    position:absolute;
}

#level1{
    background-color:blue;
    top: 252px;
    left: 784px;
}
#level2{
    background-color:yellow;
    top: 199px;
    left: 784px;
}
#level3{
    background-color:green;
    top: 145px;
    left: 784px;
}
#level4{
    background-color:red;
    top: 91px;
    left: 784px;
}